
<!---directorytemplate--->

  \[${LEVEL}] [${PATH}]\
  ++++++++++++++++++++
  ${SUBDIRECTORY} 
  ####################


  




<!---filetemplate--->
<li class="fle fsitem" onmouseover="showTextPath(this, '${FILENAME}', '${PARENTPATH}', '${FILEEXTENSION}')" onmouseout="unhighlight(this);"><img src='html/${FILEEXTENSION}.png' width="24" height="24" style='margin-left:-7px;margin-right:5px;'>${FILELINK} (${FILESIZE}, [${FILELASTMODIFIED}])</li>


<!---pagetemplate--->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>${TITLE}</title>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<script type='text/javascript' src='html/jquery-3.7.1.js'></script>

</head>




<body>

${SUBDIRECTORY}



</body>

</html>