<!---directorytemplate--->

<font color="red">${LEVELNSBP}<b>[D] </b></font>${PARENTPATH} / <font color="red">${DIRNAME}</font><br>
${SUBDIRECTORY} 


<!---filetemplate--->
<font color="green">${LEVELNSBP}<b>[F] </b></font>${PARENTPATH} / <font color="green">${FILENAME}</font><br> 


<!---pagetemplate--->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>${TITLE}</title>
</head>



<body>



${TRAVERSALROOTDIR}<br/>


${SUBDIRECTORY} <br/>


</body>

</html>