


<!---directorytemplate--->

{
  ${LEVELTABS}"name":"${DIRNAME}",
  ${LEVELTABS}"type":"directory",
  ${LEVELTABS}"children":[${SUBDIRECTORY}]
${LEVELTABS}}


<!---filetemplate--->
{
${LEVELTABS}  "name":"${FILENAME}",
${LEVELTABS}  "type":"file",
${LEVELTABS}  "size":${FILESIZE}
${LEVELTABS}}


<!---pagetemplate--->


  ${TREE}
